<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="timerInterval" value="60000"/>
    <add key="usersID" value="2623079031,3594172235,1864696473" />
    <add key="ConsumerKey" value="3cqGbeTVLpB9r7sCuutYePXh4"/>
    <add key="ConsumerSecret" value="UDWV63dGNTNSLbDCfgGtBwbnWHfcLWVDDuLIfbQJPQgMwgF4nl"/>
    <add key="AccessToken" value="1186714370-l57qpFxsCHZookA2sW2YyhCdNx37pQlDmICSMYF"/>
    <add key="AccessTokenSecret" value="P9lmD4EuAS1c0FOQOB3qilNQnHzu06eVjTQZGRBaQWYtg"/>
  </appSettings>
</configuration>