<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--监视的时间间隔，单位毫秒-->
    <add key="timerInterval" value="" />
    <!--监视的微博账号uid列表-->
    <add key="usersID" value="" />
    <!--推特App的验证信息-->
    <add key="ConsumerKey" value="" />
    <add key="ConsumerSecret" value="" />
    <add key="AccessToken" value="" />
    <add key="AccessTokenSecret" value="" />
    <!--隐藏窗口 值为true or false-->
    <add key="HideConsole" value=""/>
  </appSettings>
</configuration>